.container {
  padding: 0 50px;
}

.title {
  text-align: center;
}

.notes {
  height: 500px;
  margin-bottom: 50px;
  text-align: right;
}

.notes-table, .summary-table {
  width: 100%;
  border-spacing: 0 10px;
  text-align: left;
}

.table-caption {
  text-align: left;
  /* padding-left: 10px; */
}

.table-header {
  background-color: #aaa;
  height: 40px;
  border-radius: 4px;
  color: white;
}

.table-row {
  background-color: #eee;
  height: 44px;

  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.table-row:hover {
  background-color: #ccc;
}

.edit {
  background-color: rgb(212, 248, 215);

  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.edit:hover {
  background-color: rgb(172, 238, 177);
}

.cell-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px black; */
}

.cell-icon {
  width: 50px;
  
}

.cell-name {
  width: 250px;
}

.input-name {
  width: 240px;
  height: 20px;
}

.cell-created {
  width: 80px;
}

.cell-category {
  width: 140px;
}

.select-category {
  width: 130px;
  height: 25px;
}


.cell-content {
  width: 350px;
}

.input-content {
  width: 340px;
  height: 20px;
}

.notes-btn-create {
  padding: 5px 25px;
}

.circle-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.icon-save:hover,
.icon-edit:hover,
.icon-extract:hover {
    fill: rgb(16, 70, 13);
    cursor: pointer;
}

.icon-exit:hover, .icon-remove:hover {
    fill: rgb(156, 15, 46);
    cursor: pointer;
}

.icon-archive:hover {
 fill: rgb(55, 3, 187);
    cursor: pointer;
}

.category-icon {
  fill: #fff;
}

.icon-btn {
  fill: #777;
  margin-top: 5px;
  
  transition-property: fill;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}